#contanar {
    height: 600px;
    width: 300px;
    border: 2px double black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* flex-wrap: wrap; */

} 
div {
    height: 100px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
}
#box1 {
    background-color: aqua;
}
#box2 {
    background-color: pink;
    flex-grow: 1;
}
#box3 {
    background-color: darkkhaki;
    flex-grow: 1;
}
#box4 {
    background-color: indianred;
}
#box5 {
    background-color: slateblue;
}
