div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    display: inline-block;
    margin: 1px;
}
#box1 {
    background-image: url(pot\ 1.jpg);
    background-size: cover;
    
}
body {
    background-image: url(pot\ 2.jpg);
    background-size: cover;
    
}