.navbar {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    /* margin-left: ; */
}
a {
    text-decoration: none;
    color: black;
    /* background-color: white; */
    color: red;
}
li {
    list-style-type: none;
    display: inline;
}
.outer {
    background-color: aqua;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    background-color: blue;
    height: 100px;
    width: 100px
}